<div class="container" ng-controller="loginctrl">
  <div class="row">
    <div class="col-md-4 col-sm-offset-4">
      <form action="#" name="loginForm">
        <div class="panel">
          <div class="panel-heading">
            <h2 class="text-center">登&nbsp;&nbsp;录</h2>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="">用户名</label>
              <input name="usrname" type="text" class="form-control" ng-model="user.username" required ng-minlength="6" ng-maxlength="12">
              <span class="ng-error" ng-show="loginForm.usrname.$dirty && loginForm.usrname.$invalid">
                <span ng-show="loginForm.usrname.$error.required">用户名是必填</span>
                <span ng-show="loginForm.usrname.$error.minlength">最小6位</span>
                <span ng-show="loginForm.usrname.$error.maxlength">最多12位</span>
              </span>
            </div>
            <div class="form-group">
              <label for="">密码</label>
              <input type="text" class="form-control" ng-model="user.pwd">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> 记住密码
              </label>
            </div>
            <button class="btn btn-block btn-primary mt-lg" ng-disabled="loginForm.$invalid" type="button" ng-click="login()">登录</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
